{% extends "base.html" %}

{% block container %}

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Edit Query</h3>
    </div>
    <div class="panel-body">
      <form method="POST" action="{{ url_for("query_edit", id=query._id) }}">

        <input type="hidden" name="id" value="{{ query._id }}">

        <div class="row">
          <div class="col-md-12">
            <input id="add-query-title" name="title" class="form-control" placeholder="Enter Title" type="text" value="{{ query.title }}">
          </div>
        </div>
        <br/>

        <div class="row">
          <div class="col-md-12">
            <textarea name="sql" placeholder="Enter SQL" id="" class="form-control" name="" cols="30" rows="10">{{query.sql}}</textarea>
          </div>
        </div>
        <br/>

        <div class="row">
          <div class="col-md-12">
            <textarea name="desc" placeholder="Description" id="" class="form-control" name="" cols="30" rows="3">{{query.desc}}</textarea>
          </div>
        </div>
        <br/>

        <div class="row">
          <div class="col-md-4">
            <input name="who" class="form-control" placeholder="Person who wrote this query" type="text" value="{{query.who}}">
          </div>
          <div class="col-md-5">
            <input name="tags" class="form-control" placeholder="Enter tags (comma separated)" type="text" value="{{query.tags|join(", ")}}">
          </div>
          <div class="col-md-1">
            <button class="btn btn-success" type="submit">Edit</button>
          </div>
          <div class="col-md-1">
            <a href="{{ url_for("index") }}" class="btn btn-danger" type="submit">cancel</a>
          </div>
        </div>
      </form>
    </div>
  </div>
    </div>
  </div>


{% endblock %}
