{% extends "base.html" %}

{% block container %}

  <!--
  <form>
    <div class="row">
      <div class="col-md-11">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search Queries">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button">Go!</button>
          </span>
        </div>
      </div>
      <div class="col-md-1">
        <a class="btn btn-success" data-toggle="modal" href="#add-query"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add</a>
      </div>
    </div>
  </form>

  <hr/>
  -->

  <div class="row">
  <div class="col-md-4">
  <form action="" method="GET">
    <div class="input-group">
      <input type="text" name="search" value="{{issearchword}}" placeholder="Search" class="form-control" maxlength="50">
      <span class="input-group-btn">
        <button class="btn btn-default" >
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>  
      </span>
      </form>
    </div>
  </div>
    <div class="col-md-2">
  {% if issearchword %}
    <a class="btn btn-primary" href="{{ url_for("index") }}">Clear</a>
    {% endif %}
  </div>
    <div class="col-md-6">
      <div class="pull-right">
        <a class="btn btn-primary" data-toggle="modal" href="#add-query"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Query</a>
      </div>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover table-bordered">
        <tr>
          <th>Name</th>
          <th>Tags</th>
          <th width="10%">Person</th>
          <th style="width:18%"></th>
        </tr>
        {% if queries|length > 0 %}
          {% for query in queries %}
            <tr>
              <td>{{query.title}}</td>
              <td>
              {% for tag in query.tags %}
                <span class="label label-default">{{tag}}</span> 
              {% endfor %}
              </td>
              <td>{{query.who}}</td>
              <td>
                <a href="{{ url_for("query_view", id=query._id) }}" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-eye-open"></span> View</a>
                <a href="{{ url_for("query_edit", id=query._id) }}" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                <a href="{{ url_for("query_delete", id=query._id) }}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Delete</a>
              </td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td class="text-center" colspan=3>No Queries added yet.</td>
          </tr>
        {% endif %}
      </table>
    </div>
  </div>

  <div class="modal fade" id="add-query" tabindex="-1" role="dialog" aria-labelledby="addQuery" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="addQueryLabel">Add Query</h4>
        </div>
        <div class="modal-body">
          <form method="POST" action="{{ url_for("query_add") }}">

            <div class="row">
              <div class="col-md-12">
                <input id="add-query-title" name="title" class="form-control" placeholder="Title" type="text">
              </div>
            </div>
            <br/>

            <div class="row">
              <div class="col-md-12">
                <textarea name="sql" placeholder="SQL" id="" class="form-control" name="" cols="30" rows="10"></textarea>
              </div>
            </div>
            <br/>

            <div class="row">
              <div class="col-md-12">
                <textarea name="desc" placeholder="Description" id="" class="form-control" name="" cols="30" rows="3"></textarea>
              </div>
            </div>
            <br/>

            <div class="row">
              <div class="col-md-5">
                <input name="who" class="form-control" placeholder="Person who wrote this query" type="text">
              </div>
              <div class="col-md-5">
                <input name="tags" class="form-control" placeholder="Tags (comma separated)" type="text">
              </div>
              <div class="col-md-1">
                <button class="btn btn-success" type="submit">Add</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script>
    $('#add-query').on('shown.bs.modal', function () {
      $('#add-query-title').focus()
    })
  </script>

{% endblock %}
