{% extends "base.html" %}

{% block container %}

  <!--
  <form>
    <div class="row">
      <div class="col-md-11">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search Queries">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button">Go!</button>
          </span>
        </div>
      </div>
      <div class="col-md-1">
        <a class="btn btn-success" data-toggle="modal" href="#add-query"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add</a>
      </div>
    </div>
  </form>

  <hr/>
  -->

  <div class="row">
  <div class="col-md-4">
  <form action="" method="GET">
    <div class="input-group">
      <input type="text" name="search" value="{{issearchword}}" placeholder="Search" class="form-control" maxlength="50">
      <span class="input-group-btn">
        <button class="btn btn-default" >
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>  
      </span>
      </form>
    </div>
  </div>
    <div class="col-md-2">
  {% if issearchword %}
    <a class="btn btn-primary" href="{{ url_for("index") }}">Clear</a>
    {% endif %}
  </div>
    <div class="col-md-6">
      <div class="pull-right">
        <a class="btn btn-primary" data-toggle="modal" href="#add-query"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Query</a>
        <a class="btn btn-primary" data-toggle="modal" href="#add-database"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Database</a>
      </div>
    </div>
  </div>
  <br/>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover table-bordered">
        <tr>
          <th>Name</th>
          <th>Host/File Name</th>
          <th>Port</th>
          <th style="width:18%"></th>
        </tr>
        {% if databases|length > 0 %}
          {% for database in databases %}
            <tr>
              <td>{{database.name}}</td>
              <td>{{database.hostname}}</td>
              <td>{{database.port}}</td>
              <td>
                <a href="{{ url_for("database_view", id=database._id) }}" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-eye-open"></span> View</a>
                <a href="{{ url_for("database_edit", id=database._id) }}" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                <a href="{{ url_for("database_delete", id=database._id) }}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Delete</a>
              </td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td class="text-center" colspan=4>No Databases added yet. For Queries to run from LSQ, they need to be associated to a database.</td>
          </tr>
        {% endif %}
      </table>
    </div>
  </div>
  <br />

  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover table-bordered">
        <tr>
          <th>Name</th>
          <th>Tags</th>
          <th width="10%">Person</th>
          <th style="width:18%"></th>
        </tr>
        {% if queries|length > 0 %}
          {% for query in queries %}
            <tr>
              <td>{{query.title}}</td>
              <td>
              {% for tag in query.tags %}
                <span class="label label-default">{{tag}}</span> 
              {% endfor %}
              </td>
              <td>{{query.who}}</td>
              <td class="col-md-3 btn-group" role="group">
                <a href="{{ url_for("query_view", id=query._id) }}" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-eye-open"></span> View</a>
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-success dropdown-toggle btn-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-play"></span> Run...
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                  {% for database in databases %}
                    <li><a href="{{ url_for("query_run", id=query._id, database_id=database._id ) }}">{{ database.hostname }}:{{ database.port }}/{{ database.name }}</a></li>
                  {% endfor %}
                  </ul>
                </div>
                <a href="{{ url_for("query_edit", id=query._id) }}" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                <a href="{{ url_for("query_delete", id=query._id) }}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Delete</a>
              </td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td class="text-center" colspan=3>No Queries added yet.</td>
          </tr>
        {% endif %}
      </table>
    </div>
  </div>

  <div class="modal fade" id="add-query" tabindex="-1" role="dialog" aria-labelledby="addQuery" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="addQueryLabel">Add Query</h4>
        </div>
        <div class="modal-body">
          <form method="POST" action="{{ url_for("query_add") }}">

            <div class="row">
              <div class="col-md-12">
                <input id="add-query-title" name="title" class="form-control" placeholder="Title" type="text">
              </div>
            </div>
            <br/>

            <div class="row">
              <div class="col-md-12">
                <textarea name="sql" placeholder="SQL" id="" class="form-control" name="" cols="30" rows="10"></textarea>
              </div>
            </div>
            <br/>

            <div class="row">
              <div class="col-md-12">
                <textarea name="desc" placeholder="Description" id="" class="form-control" name="" cols="30" rows="3"></textarea>
              </div>
            </div>
            <br/>

            <div class="row">
              <div class="col-md-5">
                <input name="who" class="form-control" placeholder="Person who wrote this query" type="text">
              </div>
              <div class="col-md-5">
                <input name="tags" class="form-control" placeholder="Tags (comma separated)" type="text">
              </div>
              <div class="col-md-1">
                <button class="btn btn-success" type="submit">Add</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% include "modal_database.html" %}

  <script>
    $('#add-query').on('shown.bs.modal', function () {
      $('#add-query-title').focus()
    })
    $('#add-database').on('shown.bs.modal', function () {
      $('#add-database-title').focus()
    })
  </script>

{% endblock %}
