{% extends "base.html" %}

{% block pagescripts %}

  <link rel="stylesheet" href="/static/highlightjs/styles/railscasts.css">
  <script src="/static/highlightjs/highlight.pack.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>

{% endblock %}

{% block container %}

  <a href="{{ url_for("index") }}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>

  <div class="row">
    <div class="col-md-12">
      <h1>Results of {{ query.title }}</h1>
    </div>
  </div>

  <br/>

  {% if database %}

    <h2>Query</h2>

    <div class="row">
      <div class="col-md-12">
        <pre style="font-size: 16px"><code class="sql">{{ query.sql }}</code></pre>
      </div>
    </div>

    <h2>Results</h2>
    
    <div class="row">
      <div class="col-md-12">
        {{ query_results }}
      </div>
    </div>
  {% else %}
  <div class="row">
    <div class="col-md-12">{% if not query %}Query and {% endif %}Database not selected.</div>
  </div>
  {% endif %}

{% endblock %}